<!DOCTYPE html>
<head>
<link rel="stylesheet" href="/css/style.css">
      <link rel="icon" href="/img/download.jpg">
</head>
<body>
    <h1>{{>header}}</h1>

    <h1 style="color: brown;"> {{errormssg}}</h1>
        {{>footer}}
</body>
